@font-face {
    font-family: "Ultra Regular";
    src: url(./fonts/Ultra-Regular.woff2) format(".woff2");
    font-weight: 100 900;
    font-style: normal italic;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.calculator {
    width: 340px;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    background-color: #1e1e1e;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    height: 140px;
    margin-bottom: 20px;
    border-radius: 18px;
    color: white;
    background-color: #181818;
    box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.05), inset 0 -3px 8px rgba(0, 0, 0, 0.6);
}

/* Content displayed by the screen calculator */
span {
    margin-right: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sub-display {
    color: grey;
}

.main-display {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

/* Calculator buttons */
.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.15s ease;
    font-family: "Ultra Regular", "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: white;
}

.general {
    width: 66px;
    height: 66px;
}

.clear {
    background-color: #d83b3b;
}

.clear:hover {
    transform: translateY(-2px);
    background-color: #ff4d4d;
}

.delete {
    background-color: rgb(18, 50, 80);
}

.delete:hover {
    transform: translateY(-2px);
    background-color: rgb(24, 59, 92);
}

.digits {
    background-color: #2d2d2d;
}

.digits:hover {
    transform: translateY(-2px);
    background-color: #3c3c3c;
}

.operator {
    background-color: #0078ff;
}

.operator:hover {
    transform: translateY(-2px);
    background-color: #339aff;
}

.equal {
    background-color: #1ebc61;
}

.equal:hover {
    transform: translateY(-2px);
    background-color: #24d46d;
}

.special {
    width: 222px;
}
