/* 
1. Emmet Wrap and Remove Tag
2. rem/em and vh/vw
3. calc(), min(), max(), clamp()
*/

@font-face {
    font-family: "Ultra Regular";
    src: url(./fonts/Ultra-Regular.woff2) format(".woff2");
    font-weight: 100 900;
    font-style: normal italic;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}
